<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contador</title>
  </head>
  <body>
    <h1>aqui tendria que tener un contador</h1>
    <h4>visitas: <%= counter %></h4>
    <a href="sumar">+2</a>
    <a href="reset">reset</a>
  </body>
</html>